  body {
      margin: 0;
      padding: 0;
      border: 0;
      font: inherit;
      font-size: 100%;
      vertical-align: baseline;
  }
#bradContainer
{
    font-family: sans-serif;
      position: relative;
      width: 300px;
      height: 250px;
      border: 1px solid #00a650;
      position: relative;
      overflow: hidden;
      text-decoration: none;
      background: #00a650;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; // IE8
      /* This works in IE 8 & 9 too */
      /* ... but also 5, 6, 7 */
      
      filter: alpha(opacity=0); // IE 5-7
      /* Modern Browsers */
      
    opacity: 0;
    
    #bradContent {
          cursor: pointer;
          width: 100%;
          height: 100%;
        
        #b1Container{
            position:relative;
            #b1{
                background-image: url(../img/b1.png);
                  position: absolute;
                  top: 77px;
                  left: 15px;
                  width: 207px;
                  height: 52px;
            }#t1{
                background-image: url(../img/t1.png);
                  position: absolute;
                  top: 90px;
                  left: 37px;
                  width: 167px;
                  height: 26px;
            } 
        }
        #b2Container{
            position:relative;
            #b2{
                background-image: url(../img/b2.png);
                  position: absolute;
                  top: 79px;
                  left: 62px;
                  width: 230px;
                  height: 52px;
            }#t2{
                background-image: url(../img/t2.png);
                  position: absolute;
                  top: 91px;
                  left: 76px;
                  width: 192px;
                  height: 25px;
            }
        }
        #b3Container{
            position:relative;
            #b3{
                background-image: url(../img/b3.png);
                  position: absolute;
                  top: 115px;
                  left: 15px;
                  width: 230px;
                  height: 37px;
            }#t3{
                background-image: url(../img/t3.png);
                  position: absolute;
                  top: 127px;
                  left: 37px;
                  width: 193px;
                  height: 12px;
            }
        }
        
        #t4{
            background-image: url(../img/t4.png);
                  position: absolute;
                  top: 162px;
                  left: 46px;
                  width: 210px;
                  height: 25px;
        }
        
        #t5{
            background-image: url(../img/t5.png);
                  position: absolute;
                  top: 17px;
                  left: 32px;
                  width: 219px;
                  height: 72px;
        }
        
        #bradIconContainer{
            #icon1{
                background-image: url(../img/human.png);
                  position: absolute;
                  top: 107px;
                  left: 46px;
                  width: 63px;
                  height: 79px;
            } #icon2{
                background-image: url(../img/mouse.png);
                  position: absolute;
                  top: 109px;
                  left: 113px;
                  width: 68px;
                  height: 77px;
            } #icon3{
                background-image: url(../img/rat.png);
                  position: absolute;
                  top: 110px;
                  left: 183px;
                  width: 60px;
                  height: 75px;
            }
        }
        
        #bradFlare{
            background-image: url(../img/flare.png);
                  position: absolute;
                  top: 0px;
                  left: 114px;
                  width: 182px;
                  height: 132px;
        }
        
        #bradFooter {
              background: #fff;
              width: 300px;
              height: 48px;
              position: absolute;
              top: 202px;
              #bradLogo {
                  background-image: url(../img/logo.png);
                  position: absolute;
                  top: 14px;
                  left: 205px;
                  width: 80px;
                  height: 20px;
              }
              #bradCtaButton {
                  background: #fa7700;
                  position: absolute;
                  top: 14px;
                  left: 15px;
                  width: 80px;
                  height: 20px;
                  
                  #bradCtaTxt {
                      background-image: url(../img/ctat.png);
                      position: absolute;
                      top: 5px;
                      left: 7px;
                      width: 65px;
                      height: 9px;
                  }
              }
          }
    }
}
